<ion-header>
  <ion-toolbar class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col>Home</ion-col>
        <ion-col>Contect Us</ion-col>
        <ion-col>Menue</ion-col>
        <ion-col>Order</ion-col>
        <ion-col>Shop Now</ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container">
    <ion-row class="get">
      <ion-text class="get-in-touch">GET IN TOUCH</ion-text>
    </ion-row>
    

    <ion-row>
      <ion-col>
        <ion-row class="socials">
          <ion-img src="/assets/icon/location.jpg"></ion-img>
          <ion-label> santi niwas,17 no word nearby Harisava a.g.c post by len</ion-label>
          
        </ion-row>
       
       <ion-row> 
        <div class="socials">
          <ion-img src="/assets/icon/call.jpg"></ion-img>
          <ion-label class="phone-number">+91 5694589900</ion-label>
        </div>
        
      </ion-row>
      <ion-row class="socials">
        <ion-img  src="/assets/icon/gmail.jpg"></ion-img>
        <ion-label>abc@gmail.com</ion-label>
      
      </ion-row>
      <ion-row class="social">
        <ion-img src="/assets/icon/facebook.jpg"></ion-img>
        <ion-img src="/assets/icon/instagram.jpg"></ion-img>
        <ion-img src="/assets/icon/socialapp.jpg"></ion-img>
        <ion-img src="/assets/icon/twiter.jpg"></ion-img>
      </ion-row>
      <ion-row>
        <ion-card color="secondary">
          <ion-img src="/assets/icon/map.png"></ion-img>
        </ion-card>

      </ion-row>


        

      </ion-col>
      <ion-col>
        
        <ion-text>
         <h1> Leave Us a Message</h1>
      
        <ion-input placeholder="Enter your Name"  class="primary-input"></ion-input>
     
        <ion-input placeholder="Enter your Email"  class="primary-input"></ion-input>

        <ion-textarea placeholder="What is your message here?"   class="primary"></ion-textarea>

        

    
        <ion-button expand="block">submit</ion-button>

        
       
        <ion-label class="copy">Copyright@gmail.com</ion-label>
      </ion-text>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
