<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="container">
        <ion-col size="1" size-sm="1">My cart</ion-col>
        <ion-col size="1" size-sm="1">Account</ion-col>
        <ion-col size="1" size-sm="1" >Wishlist</ion-col>
        <ion-col></ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-toolbar class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="2"><strong>Gift store</strong></ion-col>
        <ion-col>Home</ion-col>
        <ion-col>Contect Us</ion-col>
        <ion-col>Menue</ion-col>
        <ion-col>Order</ion-col>
        <ion-col>Shop Now</ion-col>
        <ion-col size="5"></ion-col>
      </ion-row>
    </ion-grid>
    <ion-button  slot="end" shape="round" color="dark">login</ion-button>
  </ion-toolbar>

 
   <ion-toolbar class="container">
    <ion-toolbar class="container-img">
      <ion-text>
        Get Your 
      </ion-text>
      <br>
      <ion-text>
        Smile
      </ion-text>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
   </ion-toolbar> 
  

  <ion-toolbar class="card-height">
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-card color="light" >
            <ion-img src="/assets/icon/Rectangle 9.jpg"></ion-img>
        </ion-card>
      </ion-col>
        <ion-col size="5">
          <ion-card color="secondary">
            
              <ion-img src="/assets/icon/Rectangle 10.jpg"></ion-img>
           
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="card-center"> 
            <h1>UP TO</h1>
            <h1>60% OFF</h1>
            <p>HOME HERVEST</p>
          </ion-card>          
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col >
          <ion-card class="card-center" color="warning"> 
            <h1>UP TO</h1>
            <h1>60% OFF</h1>
            <p>HOME HERVEST</p>
          </ion-card>          
      </ion-col>
      <ion-col size="5">
        <ion-card color="light">
            <ion-img src="/assets/icon/Rectangle 9.jpg"></ion-img>
        </ion-card>
      </ion-col>
        <ion-col size="5">
          <ion-card color="secondary">
            
              <ion-img src="/assets/icon/Rectangle 10.jpg"></ion-img>
           
          </ion-card>
        </ion-col>
       
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="5" class="line-1"> </ion-col>
        <ion-col class="ion-buttons"><ion-button shape="round">PRODUCTS</ion-button></ion-col>
        <ion-col size="5" class="line-1"></ion-col>
       
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-buttons" >
          <ion-segment value="buttons">
            <ion-segment-button value="default">
              <ion-label>Default</ion-label>
            </ion-segment-button>
            <ion-segment-button value="segment">
              <ion-label>Segment</ion-label>
            </ion-segment-button>
            <ion-segment-button value="buttons">
              <ion-label>Button</ion-label>
            </ion-segment-button>
            <ion-segment-button value="button2">
              <ion-label>Button2</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-toolbar>
  <ion-toolbar class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-card >
              <ion-img src="/assets/icon/Rectangle 20.jpg"></ion-img>
              <p> Lucky Products</p>
              $999.00
          </ion-card>
        
        </ion-col>
        <ion-col>
          <ion-card>
             <ion-img src="/assets/icon/Rectangle 21.jpg"></ion-img>
             <p> Lucky Products</p>
             $999.00
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-img src="/assets/icon/Rectangle 22.jpg"></ion-img>
            <p> Lucky Products</p>
            $999.00
         </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-img src="/assets/icon/Rectangle 23.jpg"></ion-img>
            <p> Lucky Products</p>
            $999.00
         </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card >
            
              <ion-img src="/assets/icon/Rectangle 20.jpg"></ion-img>
              <p> Lucky Products</p>
              $999.00
            
          </ion-card>
        
        </ion-col>
        <ion-col>
          <ion-card>
             <ion-img src="/assets/icon/Rectangle 21.jpg"></ion-img>
             <p> Lucky Products</p>
             $999.00
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-img src="/assets/icon/Rectangle 22.jpg"></ion-img>
            <p> Lucky Products</p>
            $999.00
         </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-img src="/assets/icon/Rectangle 23.jpg"></ion-img>
            <p> Lucky Products</p>
            $999.00
         </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="5"></ion-col>
        <ion-col class="ion-buttons" ><ion-button shape="round">Load More</ion-button></ion-col>
        <ion-col size="5"></ion-col>
       
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col><ion-img src="assets/icon/image 4.jpg"></ion-img></ion-col>
        <ion-col><ion-img src="assets/icon/image 3.jpg"></ion-img></ion-col>
        <ion-col><ion-img src="assets/icon/image 4.jpg"></ion-img></ion-col>
        <ion-col><ion-img src="assets/icon/image 4.jpg"></ion-img></ion-col>
        <ion-col><ion-img src="assets/icon/image 4.jpg"></ion-img></ion-col>
        <ion-col><ion-img src="assets/icon/image 4.jpg"></ion-img></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="5" class="line-1"> </ion-col>
        <ion-col class="ion-buttons"><ion-button shape="round">LATEST NEWS</ion-button></ion-col>
        <ion-col size="5" class="line-1"></ion-col>
       
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img alt="Silhouette of mountains" src="assets/icon/Rectangle 35.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title><strong>Card Title</strong></ion-card-title>
            </ion-card-header>
            <p>  Here's a small text description for the card content. Nothing more, nothing less.</p>
           
          </ion-card>

        </ion-col>
        <ion-col>
          <ion-card>
            <ion-img alt="Silhouette of mountains" src="assets/icon/Rectangle 36.jpg"></ion-img>
      
            <ion-card-header>
              <ion-card-title><strong>Card Title</strong></ion-card-title>
            </ion-card-header>
            Here's a small text description for the card content.
            Nothing more, nothing less.
          </ion-card>

        </ion-col>
        <ion-col>
          <ion-card>
            <ion-img alt="Silhouette of mountains" src="assets/icon/Rectangle 37.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title
              >Card Title</ion-card-title>
              
            </ion-card-header>
          
           
              Here's a small text description for the card content. Nothing more, nothing less.
           
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img alt="Silhouette of mountains" src="assets/icon/Rectangle 39.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title
              >Card Title</ion-card-title>
              
            </ion-card-header>
          
           
              Here's a small text description for the card content. Nothing more, nothing less.
           
          </ion-card>

        </ion-col>
        <ion-col>
          <ion-card>
            <ion-img alt="Silhouette of mountains" src="assets/icon/Rectangle 40.png"></ion-img>
            <ion-card-header>
              <ion-card-title
              >Card Title</ion-card-title>
              
            </ion-card-header>
          
           
              Here's a small text description for the card content. Nothing more, nothing less.
           
          </ion-card>

        </ion-col>
        <ion-col>
          <ion-card>
            <ion-img alt="Silhouette of mountains" src="assets/icon/Rectangle 39.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title
              >Card Title</ion-card-title>
              
            </ion-card-header>
          
           
              Here's a small text description for the card content. Nothing more, nothing less.
           
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="5"></ion-col>
        <ion-col class="ion-buttons"><ion-button shape="round">LOADE MORE</ion-button></ion-col>
        <ion-col size="5"></ion-col>
       
      </ion-row>
    </ion-grid>
    <ion-footer class="ion-border">
      <ion-toolbar class="container-img2">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <h1>Gift STORE</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </ion-col>
            <ion-col>
              <h5>NAVIGATION</h5>
              <p>HOME</p>
              <p>CONTECT US</p>
              <p>BLOG</p>
              <p>TESTIMONIAL</p>
            </ion-col>
            <ion-col>
              <h5>Legals</h5>
              <p>Privacy</p>
              <p>TERMS</p>
              <p>COPY RIGHT</p>
            </ion-col>
            <ion-col>
              <h5>CONTECT US</h5>
              <p>Uujhgy</p>
              <p>abc@gmail.com</p>
              <p>5688594885</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-toolbar>
    </ion-footer>

   

  </ion-toolbar>
</ion-content>
